<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shikhar institute</title>
    <link rel="stylesheet" href="/website.css">
</head>
<body>
    <header>
        <h1>Website</h1>
        <ul>
          <li>
            <a href="#">Link1</a>
          </li>
           <li>
            <a href="#">Link2</a>
          </li>
          <li>
            <a href="#">Link3</a>
          </li>
        </ul>
      </header>
     
     
     <div id="content">
       <h1 style="font-size:50px;">Welcome</h1>
       <a href="https://google.com">This is a link</a>
       <div class="ulcontainer">
          <ul>
             <li>This</li>
             <li>Is</li>
             <li>a</li>
             <li>list</li>
         </ul>
       </div>
       <h2>The following is a long paragraph</h2>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
     </div>
     
     <footer>
       <div id="footerl">
         <h1>Website</h1>
         <p>Slogan</p>
       </div>
       <div id="footerr">
         <h4>Links</h4>
         <ul>
           <li>
             <a href="https://github.com/Vardan2009">GitHub</a>
           </li>
         </ul>
       </div>
     </footer>
</body>
</html>