<head>
  <link rel="stylesheet" href="/main.css" />
  <link
    href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
  />
</head>
<div class="sidebar open">
  <div class="logo-details">
    <i class="bx bxs-webcam icon"></i>
    <div class="logo_name">Admin</div>
    <i class="bx bx-menu-alt-right" id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <i class="bx bx-search"></i>
      <input type="text" placeholder="Search..." />
      <span class="tooltip">Search</span>
    </li>
    <li>
      <a href="/admin/dashboard">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>

    <li>
      <a href="/admin/message">
        <i class="bx bx-chat"></i>
        <span class="links_name">Messages</span>
      </a>
      <span class="tooltip">Messages</span>
    </li>
    <li>
      <a href="/admin/analytics">
        <i class="bx bx-pie-chart-alt-2"></i>
        <span class="links_name">Analytics</span>
      </a>
      <span class="tooltip">Analytics</span>
    </li>
    <li>
      <a href="/admin/gallery">
        <i class="bx bx-images"></i>
        <span class="links_name">Gallery</span>
      </a>
      <span class="tooltip">Gallery</span>
    </li>
    <li>
      <a href="/admin/courses">
        <i class="bx bx-book"></i>
        <span class="links_name">Courses</span>
      </a>
      <span class="tooltip">Courses</span>
    </li>

    <li>
      <a href="/admin/settings">
        <i class="bx bx-cog"></i>
        <span class="links_name">Setting</span>
      </a>
      <span class="tooltip">Setting</span>
    </li>
    <li class="profile">
      <div class="profile-details">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6iWN-9iI1N4jIoAup7HV3fAGjCBh3-rH5DexkvKmMCg&s"
          alt="profileImg"
        />
        <div class="name_job">
          <div class="name">shikhar institute</div>
          <div class="job">Bhupesh singh</div>
        </div>
      </div>
      <a href="/admin/logout"><i class="bx bx-log-out" id="log_out"></i></a>
    </li>
  </ul>
</div>

<script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");
  closeBtn.addEventListener("click", () => {
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });
  searchBtn.addEventListener("click", () => {
    // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
    if (sidebar.classList.contains("open")) {
      closeBtn.classList.replace("bx-menu", "bx-menu-alt-right"); //replacing the iocns class
    } else {
      closeBtn.classList.replace("bx-menu-alt-right", "bx-menu"); //replacing the iocns class
    }
  }
</script>
